@{
    List<OrderModel> waitingOrders = new List<OrderModel>();
    List<OrderModel> validOrders = new List<OrderModel>();
    List<OrderModel> inValidOrders = new List<OrderModel>();
    if (ViewData.ContainsKey("WaitingOrders"))
        waitingOrders = (List<OrderModel>)ViewData["WaitingOrders"];
    if (ViewData.ContainsKey("ValidOrders"))
        validOrders = (List<OrderModel>)ViewData["ValidOrders"];
    if (ViewData.ContainsKey("InValidOrders"))
        inValidOrders = (List<OrderModel>)ViewData["InValidOrders"];

}
<h4>Cart Waiting</h4>
<table class="table table-bordered text-center mb-0">
    <thead class="text-dark bg-warning">
        <tr>
            <th>CartId</th>
            <th>UserId</th>
            <th>Buy Date</th>
            <th>Status</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="align-middle">
        @foreach (OrderModel order in waitingOrders)
        {
            <tr>
                <td><a class="text-decoration-none" href="/Admin/Order/Detail?orderId=@(order.OrderId)">Order@(order.OrderId)</a></td>
                <td>Account@(order.AccountId)</td>
                <td>@order.OrderBuyDate</td>
                <td>@order.OrderStatus</td>
                <td>@order.OrderAddress</td>
                <td>@order.OrderPhone</td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/Admin/Order/ChangeStatus?orderId=@(order.OrderId)&status=InValid">Mark Invalid</a>
                    <a class="btn btn-sm btn-success" href="/Admin/Order/ChangeStatus?orderId=@(order.OrderId)&status=Valid">Mark Valid</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<br>
<br>

<h4>Cart Accepted</h4>
<table class="table table-bordered text-center mb-0">
    <thead class="text-dark bg-success">
        <tr>
            <th>CartId</th>
            <th>UserId</th>
            <th>Buy Date</th>
            <th>Status</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="align-middle">
        @foreach(OrderModel order in validOrders)
        {
            <tr>
                <td><a class="text-decoration-none" href="/Admin/Order/Detail?orderId=@(order.OrderId)">Order@(order.OrderId)</a></td>
                <td>Account@(order.AccountId)</td>
                <td>@order.OrderBuyDate</td>
                <td>@order.OrderStatus</td>
                <td>@order.OrderAddress</td>
                <td>@order.OrderPhone</td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/Admin/Order/ChangeStatus?orderId=@(order.OrderId)&status=InValid">Mark Invalid</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<br>
<br>

<h4>Cart Declined</h4>
<table class="table table-bordered text-center mb-0">
    <thead class="text-dark bg-danger">
        <tr>
            <th>CartId</th>
            <th>UserId</th>
            <th>Buy Date</th>
            <th>Status</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="align-middle">
        @foreach (OrderModel order in inValidOrders)
        {
            <tr>
                <td><a class="text-decoration-none" href="/Admin/Order/Detail?orderId=@(order.OrderId)">Order@(order.OrderId)</a></td>
                <td>Account@(order.AccountId)</td>
                <td>@order.OrderBuyDate</td>
                <td>@order.OrderStatus</td>
                <td>@order.OrderAddress</td>
                <td>@order.OrderPhone</td>
                <td>
                    <a class="btn btn-sm btn-success" href="/Admin/Order/ChangeStatus?orderId=@(order.OrderId)&status=Valid">Mark Valid</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary" href="/common/product/list">Back</a>